name: CI-CD to Azure


on:
    push:
        branches: [ "main" ]


jobs:
    build-test-deploy:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout code
          uses: actions/checkout@v3

        - name: Set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.11'

        - name: Install dependencies
          run: |
            pip install -r requirements.txt
        - name: Run tests
          run: |
            pytest -qs

        - name : Login to Azure Registry
          uses : azure/docker-login@v1
          with :
            login-server : ${{ secrets.ACR_LOGIN_SERVER }}
            username : ${{ secrets.ACR_USERNAME }}
            password : ${{ secrets.ACR_PASSWORD }}

        - name : Build and Push Docker image to Azure Container Registry
          run: |
                docker build -t ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-app:${{ github.run_number }} .
                docker push ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-app:${{ github.run_number }}

        - name: Azure Login
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

        - name: Deploy to Azure Web App
          uses: azure/webapps-deploy@v2
          with:
            app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
            images: ${{ secrets.ACR_LOGIN_SERVER }}/fastapi-app:${{ github.run_number }}